Package: roboconf-agent
Version: [[version]]
Section: contrib/java
Priority: optional
Architecture: all
Depends: debconf (>= 1.5), java-runtime-headless (>= 1.7) | openjdk-7-jre-headless | openjdk-8-jre-headless
Maintainer: Pierre-Yves Gibello <pygibello@linagora.com>
Description: Roboconf Agent
Distribution: development
