Package: roboconf-dm
Version: [[version]]
Section: contrib/java
Priority: optional
Architecture: all
Depends: default-jre-headless (>= 1.7)
Maintainer: Pierre-Yves Gibello <pygibello@linagora.com>
Description: Roboconf Deployment Manager
Distribution: development
