Package: roboconf-agent
Version: [[version]]
Section: contrib/java
Priority: optional
Architecture: all
Depends: java2-runtime, curl, base-files
Maintainer: Pierre-Yves Gibello <pygibello@linagora.com>
Description: Roboconf Deployment Manager
Distribution: development
