Package: roboconf-agent
Version: [[version]]
Section: contrib/java
Priority: optional
Architecture: all
Depends: default-jre-headless (>= 1.7)
Maintainer: Amadou Diarra <amadou.diarra@imag.fr>
Description: Roboconf Agent
Distribution: development
